<div id="login_user">

    <div class="row">
        <div class="large-6 columns">
            <div class="signup-panel">
                <p class="welcome"> AngularJS login App</p>
                <div data-abide-error class="alert callout" ng-show="authFailed">
                    <p><i class="fi-alert"></i>&nbsp;&nbsp;{{loginFailedMessage}}</p>
                </div>
                <form>
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input type="text" placeholder="Login" ng-model="user.username">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="password" placeholder="Password" ng-model="user.password">
                        </div>
                    </div>
                <button class="button " ng-click="login()"> Login </button>
            </form>
        </div>
    </div>
    <br>
</div>
